section.about {
	min-height: 100vh;
	text-align: center;

	.wrapper {
		width: 1500px;
		&>h3 {
			color: $secondary_font_color;
			font: 200 60px Raleway;
		}
	}

	p {
		padding-bottom: 155px;
		color: $secondary_font_color;
		font: 400 18px/30px ProximaNova;
	}
}

hr {
	width: 30px;
	height: 1px;
	background: $btn_primary_color;
}

.item-title {
	margin-top: 85px;
	font: 400 30px Raleway;
}

.about-col {
	width: 290px;
	margin-right: 80px;
}

.about-icon {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	display: block;
	background: #edeff1;
	border-radius: 50%;

}

.about-svg-icon {
	fill: $secondary_font_color;
	margin-top: 35%;
}

.about-icon:hover  {
	background: $btn_primary_color;
	transition: all .5s ease-in-out;
}

.about-icon:hover .about-svg-icon {
	fill: $primary_font_color;
	transition: all .5s ease-in-out;
}