section.freebies {
	width: 100%;
	min-height: 760px;
	background: url("../../img/try-our-template.png") no-repeat;

	.wrapper {
		width: 50%;
		padding: 255px 0 270px 0;
		text-align: center;

		p {
			padding-bottom: 100px;
			color: $primary_font_color;
			font: 200 60px Raleway;
		}

		span {
			font-weight: 700;
		}

	}
	.box-link-freebies {
	display: block;
	width: 185px;
	height: 50px;
	margin: 0 auto;
	color: $primary_font_color;
	font: 700 14px/50px Raleway;
	background: $btn_primary_color;
	border-radius: 25px;
	text-align: center;
	text-decoration: none;
}
}