section.team {
	width: 100%;
	min-height: 100vh;
	text-align: center;

	.wrapper {
		width: 100%;

	}

	h2 {
		color: $h_primary_font_color;
		font: 200 60px Raleway;
	}

	p {
		color: $secondary_font_color;
		font: 400 18px/30px ProximaNova;
		padding-bottom: 110px;
	}

	.container {
		width: 100%;
	};


}


.block-3d {
	width: 400px;
	height: 400px;
	margin: 0;
	perspective: 1000px;

	&:hover .rotate{
		transform:  rotateY(180deg);
	}
	.rotate {
		position: relative;
		transition: 0.5s;
		transform-style: preserve-3d;
	}

	.text {
		position: absolute;
		top: 0;
		left: 0;
		padding-top: 180px;
		color: $primary_font_color;
		font: 200 36px Raleway;
	}

	img {
		transform:  rotateY(180deg);
	}

	img, .text {
		width: 400px;
		height: 400px;
		background: #17daa3;
		backface-visibility: hidden;
	}

}






