$primary_font_color: #ffffff;
$secondary_font_color: #87949e;
$p_font_color: #ffffff;
$span_color: #17daa3;
$btn_primary_color: #17daa3;
$btn_secondary_color: #ffffff;
$h_primary_font_color: #576671;
